<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title>Добавить пользователя</title>
</head>
<body>
<h1>Добавить пользователя</h1>
<form action="#" th:action="@{/add}" th:object="${users}" method="post">
  <p>Имя: <input type="text" th:field="*{name}" th:charset="utf-8"/></p>
  <p>Фамилия: <input type="text" th:field="*{surname}" th:charset="utf-8"/></p>
  <p>Отдел: <input type="text" th:field="*{department}" th:charset="utf-8"/></p>
  <p>Зарплата: <input type="text" th:field="*{salary}"/></p>
  <p><input type="submit" value="Добавить"/></p>
</form>
</body>
</html>